.nav {
  padding: 2em;
  background-color: #fff;
  color: $dark;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    &-text {
      margin-bottom: 0;
      font-size: 1.5rem;
      color: $primary;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        color: $dark;
      }
    }
  }

  &-list {
    display: flex;

    &-item {
      color: $dark;
      margin-right: 2em;
      transition: all 0.5s;
      &:hover {
        color: $primary;
      }
    }
  }
}
